<div class="home_attention" ng-controller="head" ng-include="headTemplate"></div>
<div class="form">
    <table>
        <tr>
            <td>旧密码</td>
            <td>
                <input class="input_edit" type="password"
                    enter
                    maxlength="16"
                    fieldName="旧密码"
                    validation="required"
                    mentionId="td_m_old"
                    ng-model="pwd.oldPassword"></td>
        </tr>
        <tr>
            <td></td>
            <td class="invalid_msg" id="td_m_old"></td>
        </tr>
        <tr>
            <td>新密码</td>
            <td>
                <input class="input_edit" id="txt_pwd" type="password"
                    enter
                    maxlength="16"
                    fieldName="新密码"
                    validation="required|||minlengh:::8|||pattern:::[a-zA-Z]:::至少包含一个字母|||pattern:::[0-9]:::至少包含一个数字"
                    mentionId="td_m_new"
                    ng-model="pwd.newPassword"></td>
        </tr>
        <tr>
            <td></td>
            <td class="invalid_msg" id="td_m_new"></td>
        </tr>
        <tr>
            <td>确认密码</td>
            <td>
                <input class="input_edit" type="password"
                    enter
                    maxlength="16"
                    fieldName="确认密码"
                    mentionId="td_m_confirm"
                    validation="required|||compare:::txt_pwd:::equal:::true:::密码"
                    ng-model="pwd.confirmPassword"></td>
        </tr>
        <tr>
            <td></td>
            <td class="invalid_msg" id="td_m_confirm"></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="button" value="提交" validate-click="submit()" /></td>
        </tr>
    </table>
</div>
