<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ngHtmlTemplates" type="KaiKai.Common.NGHTMLTemplatesSection"></section>
    <section name="ngDirectiveInculdeHtmlTemplates" type="KaiKai.Common.NGDirectiveInculdeHtmlTemplatesSection"></section>
  </configSections>
  <ngHtmlTemplates>
    <template>
      <state>login</state>
      <url>/login</url>
      <templateUrl>templates/login.html</templateUrl>
      <controller>login</controller>
      <digest></digest>
    </template>
    <template>
      <state>home</state>
      <url>/home</url>
      <templateUrl>templates/home.html</templateUrl>
      <controller>home</controller>
      <digest></digest>
    </template>
    <template>
      <state>error</state>
      <url>/error/{msg:.*}</url>
      <templateUrl>templates/error.html</templateUrl>
      <controller>error</controller>
      <digest></digest>
    </template>
    <template>
      <state>order_edit</state>
      <url>/order_edit/{orderId:\d*}</url>
      <templateUrl>templates/order_edit.html</templateUrl>
      <controller>order_edit</controller>
      <digest></digest>
    </template>
    <template>
      <state>orders</state>
      <url>/orders</url>
      <templateUrl>templates/orders.html</templateUrl>
      <controller>orders</controller>
      <digest></digest>
    </template>
    <template>
      <state>summary</state>
      <url>/summary</url>
      <templateUrl>templates/summary.html</templateUrl>
      <controller>summary</controller>
      <digest></digest>
    </template>
    <template>
      <state>users</state>
      <url>/users</url>
      <templateUrl>templates/users.html</templateUrl>
      <controller>users</controller>
      <digest></digest>
    </template>
    <template>
      <state>user_edit</state>
      <url>/user_edit/{userId:\d*}</url>
      <templateUrl>templates/user_edit.html</templateUrl>
      <controller>user_edit</controller>
      <digest></digest>
    </template>
    <template>
      <state>password</state>
      <url>/password</url>
      <templateUrl>templates/password.html</templateUrl>
      <controller>password</controller>
      <digest></digest>
    </template>
    <template>
      <state>sizes</state>
      <url>/sizes</url>
      <templateUrl>templates/sizes.html</templateUrl>
      <controller>sizes</controller>
      <digest></digest>
    </template>
    <template>
      <state>size_edit</state>
      <url>/size_edit/{sizeId:\d*}</url>
      <templateUrl>templates/size_edit.html</templateUrl>
      <controller>size_edit</controller>
      <digest></digest>
    </template>
  </ngHtmlTemplates>
  <ngDirectiveInculdeHtmlTemplates>
    <template>
      <name>headTemplate</name>
      <templateUrl>templates/head.html</templateUrl>
      <digest></digest>
    </template>
    <template>
      <name>dialogMentionTemplate</name>
      <templateUrl>templates/dialog_mention.html</templateUrl>
      <digest></digest>
    </template>
    <template>
      <name>dialogSyncOrderDetailTemplate</name>
      <templateUrl>templates/dialog_sync_order_detail.html</templateUrl>
      <digest></digest>
    </template>
  </ngDirectiveInculdeHtmlTemplates>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="ApiUrl" value="http://localhost:84/" />
    <add key="AllScriptDigest" value="" />
    <add key="AllCSSDigest" value="" />
  </appSettings>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="default.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>